language: python
dist:
  - bionic
  - xenial
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
env:
  - FLASK=1.1.1 WERKZEUG=1.0.0
  - FLASK=1.0.4 WERKZEUG=1.0.0
  - FLASK=0.12.5 WERKZEUG=0.16.1
  - FLASK=0.11.1 WERKZEUG=0.16.1
  - FLASK=0.10.1 WERKZEUG=0.16.1
  - FLASK=0.9 WERKZEUG=0.16.1
  - FLASK=0.8.1 WERKZEUG=0.16.1
matrix:
  exclude:
    - python: "3.5"
      env: FLASK=0.9 WERKZEUG=0.16.1
    - python: "3.5"
      env: FLASK=0.8.1 WERKZEUG=0.16.1
    - python: "3.6"
      env: FLASK=0.9 WERKZEUG=0.16.1
    - python: "3.6"
      env: FLASK=0.8.1 WERKZEUG=0.16.1
    - python: "3.7"
      env: FLASK=0.9 WERKZEUG=0.16.1
    - python: "3.7"
      env: FLASK=0.8.1 WERKZEUG=0.16.1
    - python: "3.8"
      env: FLASK=0.9 WERKZEUG=0.16.1
    - python: "3.8"
      env: FLASK=0.8.1 WERKZEUG=0.16.1
install:
  - pip install werkzeug==$WERKZEUG flask==$FLASK coverage
  - pip install -e .
script:
  - python setup.py test
notifications:
  email:
    - christoph.heer@googlemail.com
    - jonathan.como@gmail.com
version: ~> 1.0